body {
	background-color: #D1D4D8;
	margin: 0;
	padding: 0;
	font-size: 1.2rem;
	 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  		-webkit-font-smoothing: antialiased;
  		-moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.essay-container *::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.essay-container * {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@font-face {
  font-family: 'Akzidenz Grotesk Light';
  src: url(assets/fonts/akzidenzgrotesk-light-webfont.woff);
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url(assets/fonts/IBMPlexMono-Light.woff);
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url(assets/fonts/IBMPlexMono-LightItalic.woff);
  font-style: italic;
}


p {
	margin-top: 0;
	padding: 0;
}

img {
	width: 50vh;
	height: 50vh;
	margin: 1vh;
}

.obstruct-left {
	float: left;
	shape-outside: inset();
	width: 50vh;
	height: 50vh;
	left: 100px;
	visibility: visible;
	margin-right: 2vh;
	margin-bottom: 0.5vh;
}

.obstruct-right {
	float: right;
	shape-outside: inset();
	width: 50vh;
	height: 50vh;
	left: 100px;
	visibility: visible;
	margin-left: 2vh;
	margin-bottom: 0.5vh;
}

.container {
	display: flex;
	flex-flow: column nowrap;
}

.top {
	top: 0;
/*	outline-bottom: 1px black solid;*/
}

.bottom {
	bottom: 0;
/*	border-top: 1px black solid;*/
}

.nav-bar {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: 10vh;
}

.button {
	margin: 3vh;
	padding: 2vh;
}

.main {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	text-align: justify;
	text-justify: inter-word;
	height: 80vh;
}

.main-image {
	margin-right: 5vh;
	height: auto;
	width: 50%;
}

.essay-container {
	display: flex;
	flex-flow: row nowrap;
	height: inherit;
	overflow-x: hidden;
}

.essay-segment {
	display: flex;
	flex-flow: row nowrap;
	align-items: start;
	height: inherit;
	width: 100vw;
}

.essay-english {
	padding: 3vh 5vh 3vh 5vh;
	overflow-y: hidden;
	height: 74vh;
	width: 50vw;
}

.essay-chinese {
	padding: 3vh 5vh 3vh 5vh;
	overflow: hidden;
	height: 74vh;
	width: 50vw;
}

