html {
	font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
	background-color: #D1D4D8;
	margin: 0;
	font-size: 1.8rem;
	/*text-align: justify;*/
	/*text-justify: inter-word;*/
    scroll-behavior: smooth;
    overflow: hidden;
}

@font-face {
  font-family: "W95FA";
  src: url("../assets/fonts/W95FA.woff");
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.woff");
}


p {
	margin-top: 0;
	padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
	margin-bottom: 0.6rem;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.top {
	top: 0;
    font-family: "W95FA", Times, serif;
    width: 85vw;
	border-bottom: 1px black solid;
}

.bottom {
	bottom: 0;
    font-family: "W95FA", Times, serif;
    width: 85vw;
	border-top: 1px black solid;
}

.nav-bar {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	width: inherit;
	height: 6vh;
}

	.top:hover .nav-menu {
		visibility: visible;
	}

	.nav-menu:hover {
		visibility: visible;
	}

	.nav-menu {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		position: absolute;
		top: 5vh;
		font-size: 1.8rem;
		width: inherit;
		background-color: #D1D4D8;
		border-bottom: 1px black solid;
		visibility: hidden;
		transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
		z-index: 1;
	}

	.scene-selector {
		width: auto;
		height: auto;
		margin: 3vh;
	}

	.scenes > * > *:hover {
		color: #D8FD51;
	}

	.about {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;
		margin: 3vh;
	}

	.headshots {
		margin-right: 3vh;
		width: 15%;
	}

	.headshots > * {
		width: 100%;
	}

	.about-text {
		width: 50%;
		height: auto;

	}

	.button {
		margin: 3vh;
	/*	border: 1px black solid;
	*/}

	.bottom:hover .video-space {
		visibility: visible;
	}

	.video-space:hover {
		visibility: visible;
	}

	.video-space {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		position: absolute;
		bottom: 5vh;
		font-size: 1.8rem;
		width: inherit;
		background-color: #D1D4D8;
		border-top: 1px black solid;
		visibility: hidden;
		z-index: 1;
	}

	.video {
		margin: 3vh;
	}

	.video-blurb {
		width: 30%;
		margin: 3vh 3vh 3vh 3vh;		
	}


.main {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	height: calc(88vh - 2px);
	width: 100vw;
	overflow: scroll;
    font-family: "Roboto", Times, serif;
    /*overflow-x: hidden;*/
}

html * {
    scroll-behavior: smooth;

}

.scroll-container {
	height: inherit;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;	
    scroll-behavior: smooth;
}

.arrows {
	position: fixed;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 100vw;
	height: 88vh;
	pointer-events: none;
}

.left-arrow {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	height: inherit;
	width: 5vw;
	pointer-events: auto;
}

.right-arrow {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	height: inherit;
	width: 5vw;
	pointer-events: auto;
}

.arrows img {
	width: 5vh;
	height: auto;
}

.splash {
	height: inherit;
	width: 100vw;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

.splash > img {
	height: 80%;
	max-width: 70vw;
	z-index: -99;
}

.intro {
	width: 30vw;
	height: inherit;
/*	border: red 1px solid;*/
	white-space: wrap;
}

.intro-text {
	text-overflow: ellipsis;
	/*height: 78vh;	*/
	overflow: hidden;
	margin: 5vh 10vh 5vh 0;
}

.essay-container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	margin: 0vh 0 0vh 0;
	width: 100vw;
	overflow: hidden;
	height: inherit;
}

.essay-container, .essay-container * {
	/*border: 1px red solid;*/
}

.essay-segment {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	margin: 0 10vw 0 10vw;
	height: inherit;
	width: 80vw;
}

.essay-english {
	/*column-count: 2;*/
	width: 50%;
	overflow-y: auto;
	height: auto;
	margin: 0vh 2.5vw 0vh 0;
	padding: 5vh 0 5vh 0;
	/*border: 1px red solid;*/
}

.essay-english::-webkit-scrollbar, .essay-chinese::-webkit-scrollbar {
  display: none;
}

.essay-chinese, .essay-english {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.essay-chinese {
/*	column-count: 2;*/
	height: auto;
	width: 50%;
	margin: 0vh 0 0vh 2.5vw;
	padding: 5vh 0 5vh 0;
	overflow-y: auto;
/*	border: 1px green solid;*/
}



.obstruct-left {
	float: left;
	shape-outside: inset();
	width: 30%;
	height: 20vh;
	margin: 2vh;
	visibility: visible;
	border: 1px grey solid;
	transition: 2s;	
}

.obstruct-right {
	float: right;
	shape-outside: inset();
	width: 30%;
	height: 20vh;
	margin: 2vh;
	visibility: visible;
	border: 1px grey solid;
	transition: 2s;
}

/*.obstruct-left, .obstruct-right:hover {
	border: 1px black solid;
	width: 60%;
	height: 40vh;
	transition: 1s;
}*/

.obstruct-large {
	/*border: 1px black solid;*/
	width: 70%;
	height: auto;
	transition: 2s;	
}

.image img {
	height: inherit;
	width: 100%;
}


